<!-- Main Page -->
<div class="container">
  <img src="../assets/images/pets.jpg" alt="..." class="rounded mx-auto d-block" width="500" height="300">
  <div class="text-center">
    <h1 class=" mb-3 h2">Main page</h1>

    <p>
      This website is build using angular as front end client side and using
      Laravel REST API as a back end server side.
    </p>
    <p>
      The main aim of this website is to keep track of your pets in an easy
      well organised website.
    </p>
    <p>You have {{num_pets}} pets. And you said goodbye to {{dead}} pets.
    </p>
  </div>
</div>