<!--Edit Pet-->
<div class="container">
  <h2>
    Edit pet
  </h2>
  <form action="">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Name">
    </div>
    <div class="mb-3">
      <label for="species" class="form-label">Species</label>
      <input type="text" class="form-control" id="species" placeholder="Species">
    </div>
    <div class="mb-3">
      <label for="birth" class="form-label">Date of birth </label>
      <input type="date" class="form-control" id="birth">
    </div>
    <div class="mb-3">
      <label for="death" class="form-label">Date of death </label>
      <input type="date" class="form-control" id="death">
    </div>
    <div class="mb-3">
      <label for="note" class="form-label">Note</label>
      <textarea class="form-control" id="note" rows="2"></textarea>
    </div>
    <div class="mb-3">
    <button class="btn btn-primary"> Submit </button>
    </div>
  </form>
</div>

